node_modules/
dist/
.env
data/raw/*
data/clean/*
data/markdown/*
data/chunks/*
data/crawl/*
data/index/*
data/embeddings/*
!data/raw/.gitkeep
!data/clean/.gitkeep
!data/markdown/.gitkeep
!data/chunks/.gitkeep
!data/crawl/.gitkeep
!data/index/.gitkeep
!data/embeddings/.gitkeep
